.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 3.5rem;
    min-width: 22rem;

    padding: 0.5rem;
}

.iconBox {
    height: 100%;
}

.icon {
    height: 3rem;
}

.text {
    font-family: 'Questrial', sans-serif;
    font-size: 1.25rem;
}