.container {
    height: 5rem;
    padding-left: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: black;
    color: white;

    font-family: 'Questrial', sans-serif;
    font-size: 1.125rem;
}

.section {
    cursor: pointer;
}

.section:hover {
    color: blueviolet;

    transition: all .5s ease-in-out;
}