.container {
    min-height: 5rem;
    padding-left: 30%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: black;
    position: sticky;
    top: 0;

    font-family: 'Questrial', sans-serif;
    font-size: 1.125rem;
}

.section {
    color: white;

    cursor: pointer;

    text-decoration: none;
}

.section:hover {
    color: blueviolet;

    transition: all .5s ease-in-out;
}

.sectionButton {
    background: none;

    color: white;

    cursor: pointer;

    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 1.125rem;
}

.sectionButton:hover {
    color: blueviolet;

    transition: all .5s ease-in-out;
}

.button {
    height: 2.1rem;

    background-color: blueviolet;
    color: white;

    border: none;
    border-radius: 50%;

    font-family: 'Questrial', sans-serif;
    font-size: 1.125rem;

    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: black;

    transition: all .5s ease-in-out;
}

@media screen and (max-width: 830px) {
    .container {
        padding: 0;

        flex-wrap: wrap;
    }

    .section {
        padding: 0 1rem 0 1rem;
    }
}

@media screen and (max-width: 576px) and (min-width: 540px) {
    .button {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 539px) {
    .container {
        padding-bottom: 1rem;
    }
}