.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1rem 1.5rem 1rem 1.5rem;
}

.iconImage {
    height: 7.5rem;

    padding-bottom: 1rem;
}

label {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
}

@media screen and (max-width: 816px) {
    .iconImage {
        height: 5rem;
    }
}